@@font-face {
  font-family: "Biotif Medium";
  src: url("Biotif-Medium.ttf") format("truetype");
}

body {
  background-image: url('img/tlo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Biotif Medium;
}

div {
  position: absolute;
  width: 410pt;
  text-align: center;
}

form {
  background-color: #f4f4f4;
  position: absolute;
  border-radius: 3pt;
  margin: 20pt;
  width: 410pt;
}

input[type=text],[type=password] {
  margin-top: 20pt;
  margin-left: 10pt;
  margin-right: 10pt;
  width: 325pt;
  height: 35pt;
  font-size: 11pt;
  font-family: inherit;
  border-radius: 5pt;
  padding-left: 35pt;
  background-color: #f4f4f4;
  background-position: 15px 15px;
  background-repeat: no-repeat;
}

input[type=checkbox] {
  height: 20pt;
  width: 20pt;
  margin-left: 45pt;
  margin-top: 15pt;
  vertical-align: middle;
}

/*
input[type=checkbox]:checked + label {
    background: #26ca28;
}
*/

.checkboxDiv {
  position: relative;
  text-align: left;
  color: grey;
}

.checkboxLabel {
  display:inline-block;
  vertical-align: bottom;
  font-size: 15pt;
}

.emailInput {
  background-image: url('img/envelope2.png');
}

.userInput {
  background-image: url('img/user2.png');
}

.passwordInput {
  background-image: url('img/lock2.png');
}

.locationInput {
  background-image: url('img/pin2.png');
}

.phoneInput {
  background-image: url('img/user2.png');
}

button {
  height: 33pt;
  background-color: #93d02b;
  border-color: #3f9c03;
  border-radius: 2pt;
  color: white;
  font-size: 12pt;
  font-family: inherit;
  height: 45pt;
  width: 140pt;
  margin: 20pt;
}

#noButtonSu {
  background-color: #f34254;
  border-color: #a82632;
}

.longButton {
  width: 325pt ;
}

.titleLabel {
  font-size: 25pt;
  font-weight: bold;
  text-shadow: 1pt 1pt 2pt #000000;
  color: white;
  display: inline-block;
  margin-bottom: 15pt;
}

img {
  opacity: 0.5;
  top: 55pt;
  left: 345pt;
  position: absolute;
}

#textSe {
  height: 220pt;
  /*align: top;*/
}

#registerForm {
  left: 90pt;
  top: 190pt;
  height: 445pt;
}

#signInForm{
  left: 585pt;
  top: 190pt;
  height: 270pt;
}

#recoverForm{
  left: 585pt;
  top: 530pt;
  height: 240pt;
}

#sendForm {
  left: 90pt;
  top: 740pt;
  height: 510pt;
}

#subscribeForm {
  left: 585pt;
  top: 875pt;
  height: 175pt;
}

#internal {
  width: 450pt;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3pt;
}
